@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for chat area */
.chat-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 3px;
}
